//reset default
.slick-prev {
  //position:relative !important;
  left      : -20px !important;
  z-index   : 1000 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #FFF !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #d7d7d7 !important;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: 'Glyphicons Halflings' !important;
  color      : red !important;
}

.slick-next {
  right     : -15px !important;
  z-index   : 10 !important;
  height    : 48px !important;
  width     : 44px !important;
  background: #FFF !important;
  border    : 2px solid #d7d7d7 !important;

  &:hover {
    background: #d7d7d7 !important;
  }
}

.slick-disabled {
  display: none !important;
}

.section-share {
  &.section-specialty {
    background: #F5F5F5;
  }

  &.section-outstanding-doctor {
    background: #F5F5F5;
  }

  &.section-about {
    //border: 1px solid orange;
    height: 500px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
  }

  .section-body {
    .section-customize {
      .bg-image {
        width              : 315px;
        height             : 180px;
        background-position: center center;
        background-size    : cover;
        background-repeat  : no-repeat;
        background-color   : #EEEE;

        &.section-specialty {
          background-image: url(../../assets/specialty/co-xuong-khop.jpg);
        }

        &.section-medical-facility {
          background-image: url(../../assets/medical-facility//bv-viet-duc.jpg);
        }

        &.section-outstanding-doctor {
          //ackground-image: url(../../assets/out-standing-doctor/anh-dai-dien-bs.jpg);
          width           : 120px;
          height          : 120px;
          border-radius   : 50%;
        }

        &.section-handbook {
          background-image: url(../../assets/handbook/benh-vien-nam-hoc-va-hiem-muon-ha-noi.jpg);

        }
      }
    }

  }
}

.section-share {
  height: 330px;

  //padding: 15px 0;
  .section-container {
    margin        : 0 100px;
    display       : flex;
    flex-direction: column;

    .section-header {
      height       : 60px;
      //border: 1px solid green;
      padding-top  : 30px;
      margin-bottom: 30px;

      .title-section {
        font-size  : 22px;
        font-weight: 600;

      }

      .btn-section {
        float         : right;
        padding       : 5px 10px;
        border        : none;
        outline       : none;
        display       : block;
        background    : #ebebeb;
        cursor        : pointer;
        text-transform: uppercase;

        &:hover {
          color     : #FFF;
          background: #F7D800;
        }
      }
    }

  }

}

.section-share {
  .outer-bg {
    display        : flex;
    justify-content: center;
    margin-bottom  : 10px;
  }

  .section-customize {
    padding: 5px;

    .customize-border {
      border : 1px solid orange;
      padding: 20px;
    }
  }
}

.home-footer {
  text-align : center;
  padding-top: 8px;

  a {
    text-decoration: unset;
  }
}

.section-about {
  padding: 0 100px;
  .section-about-header {
    padding  : 20px 10px;
    font-size: 22px;
    font-weight: 600;
  }
  .section-about-content {
    display: flex;
    gap: 15px; //distance item flex
    width: 100%;
    .content-left {
      width: 60%;
    }
    .content-right {
      width: 40%;
      p {
        text-align: justify;
        font-style: italic;
        padding: 15px;
      }
    }
  }
}