div._loading_overlay_wrapper {
  position: unset;
  ._loading_overlay_overlay {
      z-index: 10000000000000;
  }
} 
.manage-patient-container {
  .m-p-title {
    font-size: 17px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  .manage-patient-body {
    padding: 0 20px;
    h4 {
      text-align: center;
      padding-top: 15px;
    }
    .table-manage-patient {
      margin: 15px 0;
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th {
        font-weight: 600;
        text-align: center;
      }
      th, td {
        padding: 5px;
        text-align: center;
      }
    }
  }
}