.profile-doctor-container {
  padding-bottom: 5px;
  .intro-doctor {
    display: flex;
    padding-bottom: 10px;
    .content-left {
      background     : center center no-repeat;
      width          : 80px;
      height         : 80px;
      border-radius  : 50%;
      background-size: cover;
    }

    .content-right {
      width         : calc(100% - 80px);
      display       : flex;
      flex-direction: column;
      padding-left: 15px;
      .up {
        font-weight: 600;
      }

      .down {
        padding-top: 10px;
        text-align: justify;
      }
    }
  }
}